{% extends 'base.html' %}

{% block title %}Surveys{% endblock %}

{% block content %}

<h1>Surveys Homepage</h1>

    <form action='/result' method='POST'>
        
            <p>{{ satisfaction.questions[question_num].question }}</p>
            {% for choice in range(satisfaction.questions[question_num].choices|length) %}
                <input type='radio' input name='result' value='{{ satisfaction.questions[question_num].choices[choice] }}'>
                <label>{{ satisfaction.questions[question_num].choices[choice] }}</label>
            {% endfor %}
        <button>Continue</button>
    </form>


{% endblock %}
    